<a href="https://colab.research.google.com/github/Ali-Asgar-Lakdawala/Forcasting/blob/main/mutivariate_time_series_ml_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Ali-Asgar-Lakdawala/Time-Series/main/time_series_data.csv')

In [43]:
df.drop(['avg_pos_transaction_price_ntl','apparent_temperature_high_week'],axis=1,inplace=True)

In [44]:
df['locationkey']=df['locationkey'].apply(str)

In [45]:
df_1=pd.get_dummies(df[['new_sku_three_month_flag','locationkey']])

In [46]:
df.drop(['new_sku_three_month_flag','locationkey','productkey'],axis=1,inplace=True)

In [47]:
df=pd.concat([df,df_1],axis=1)

In [48]:
df['timekey']=pd.to_datetime(df['timekey'])

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1824 entries, 0 to 1823
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   timekey                     1824 non-null   datetime64[ns]
 1   total_sales_units           1824 non-null   int64
 2   new_sku_three_month_flag_N  1824 non-null   uint8
 3   new_sku_three_month_flag_Y  1824 non-null   uint8
 4   locationkey_11              1824 non-null   uint8
 5   locationkey_3               1824 non-null   uint8
 6   locationkey_7               1824 non-null   uint8
dtypes: datetime64[ns](1), int64(1), uint8(5)
memory usage: 37.5 KB

In [50]:
df.timekey.unique()

array(['2018-01-07T00:00:00.000000000', '2018-01-14T00:00:00.000000000',
       '2018-01-21T00:00:00.000000000', '2018-01-28T00:00:00.000000000',
       '2018-02-04T00:00:00.000000000', '2018-02-11T00:00:00.000000000',
       '2018-02-18T00:00:00.000000000', '2018-02-25T00:00:00.000000000',
       '2018-03-04T00:00:00.000000000', '2018-03-11T00:00:00.000000000',
       '2018-03-18T00:00:00.000000000', '2018-03-25T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2018-04-08T00:00:00.000000000',
       '2018-04-15T00:00:00.000000000', '2018-04-22T00:00:00.000000000',
       '2018-04-29T00:00:00.000000000', '2018-05-06T00:00:00.000000000',
       '2018-05-13T00:00:00.000000000', '2018-05-20T00:00:00.000000000',
       '2018-05-27T00:00:00.000000000', '2018-06-03T00:00:00.000000000',
       '2018-06-10T00:00:00.000000000', '2018-06-17T00:00:00.000000000',
       '2018-06-24T00:00:00.000000000', '2018-07-01T00:00:00.000000000',
       '2018-07-08T00:00:00.000000000', '2018-07-15T00:00:00.000000000',
       '2018-07-22T00:00:00.000000000', '2018-07-29T00:00:00.000000000',
       '2018-08-05T00:00:00.000000000', '2018-08-12T00:00:00.000000000',
       '2018-08-19T00:00:00.000000000', '2018-08-26T00:00:00.000000000',
       '2018-09-02T00:00:00.000000000', '2018-09-09T00:00:00.000000000',
       '2018-09-16T00:00:00.000000000', '2018-09-23T00:00:00.000000000',
       '2018-09-30T00:00:00.000000000', '2018-10-07T00:00:00.000000000',
       '2018-10-14T00:00:00.000000000', '2018-10-21T00:00:00.000000000',
       '2018-10-28T00:00:00.000000000', '2018-11-04T00:00:00.000000000',
       '2018-11-11T00:00:00.000000000', '2018-11-18T00:00:00.000000000',
       '2018-11-25T00:00:00.000000000', '2018-12-02T00:00:00.000000000',
       '2018-12-09T00:00:00.000000000', '2018-12-16T00:00:00.000000000',
       '2018-12-23T00:00:00.000000000', '2018-12-30T00:00:00.000000000',
       '2019-01-06T00:00:00.000000000', '2019-01-13T00:00:00.000000000',
       '2019-01-20T00:00:00.000000000', '2019-01-27T00:00:00.000000000',
       '2019-02-03T00:00:00.000000000', '2019-02-10T00:00:00.000000000',
       '2019-02-17T00:00:00.000000000', '2019-02-24T00:00:00.000000000',
       '2019-03-03T00:00:00.000000000', '2019-03-10T00:00:00.000000000',
       '2019-03-17T00:00:00.000000000', '2019-03-24T00:00:00.000000000',
       '2019-03-31T00:00:00.000000000', '2019-04-07T00:00:00.000000000',
       '2019-04-14T00:00:00.000000000', '2019-04-21T00:00:00.000000000',
       '2019-04-28T00:00:00.000000000', '2019-05-05T00:00:00.000000000',
       '2019-05-12T00:00:00.000000000', '2019-05-19T00:00:00.000000000',
       '2019-05-26T00:00:00.000000000', '2019-06-02T00:00:00.000000000',
       '2019-06-09T00:00:00.000000000', '2019-06-16T00:00:00.000000000',
       '2019-06-23T00:00:00.000000000', '2019-06-30T00:00:00.000000000',
       '2019-07-07T00:00:00.000000000', '2019-07-14T00:00:00.000000000',
       '2019-07-21T00:00:00.000000000', '2019-07-28T00:00:00.000000000',
       '2019-08-04T00:00:00.000000000', '2019-08-11T00:00:00.000000000',
       '2019-08-18T00:00:00.000000000', '2019-08-25T00:00:00.000000000',
       '2019-09-01T00:00:00.000000000', '2019-09-08T00:00:00.000000000',
       '2019-09-15T00:00:00.000000000', '2019-09-22T00:00:00.000000000',
       '2019-09-29T00:00:00.000000000', '2019-10-06T00:00:00.000000000',
       '2019-10-13T00:00:00.000000000', '2019-10-20T00:00:00.000000000',
       '2019-10-27T00:00:00.000000000', '2019-11-03T00:00:00.000000000',
       '2019-11-10T00:00:00.000000000', '2019-11-17T00:00:00.000000000',
       '2019-11-24T00:00:00.000000000', '2019-12-01T00:00:00.000000000',
       '2019-12-08T00:00:00.000000000', '2019-12-15T00:00:00.000000000',
       '2019-12-22T00:00:00.000000000', '2019-12-29T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [51]:
df=df.groupby(['timekey','new_sku_three_month_flag_N','new_sku_three_month_flag_Y','locationkey_11','locationkey_3','locationkey_7'],as_index=False).sum()

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   timekey                     380 non-null    datetime64[ns]
 1   new_sku_three_month_flag_N  380 non-null    uint64
 2   new_sku_three_month_flag_Y  380 non-null    uint64
 3   locationkey_11              380 non-null    uint64
 4   locationkey_3               380 non-null    uint64
 5   locationkey_7               380 non-null    uint64
 6   total_sales_units           380 non-null    int64
dtypes: datetime64[ns](1), int64(1), uint64(5)
memory usage: 20.9 KB

In [53]:
from datetime import datetime,timedelta
df.timekey+timedelta(days=-7)

0     2017-12-31
1     2017-12-31
2     2017-12-31
3     2018-01-07
4     2018-01-07
         ...
375   2019-12-15
376   2019-12-15
377   2019-12-22
378   2019-12-22
379   2019-12-22
Name: timekey, Length: 380, dtype: datetime64[ns]

In [54]:
df_1=df.copy()

In [55]:
df_1.timekey=df.timekey+timedelta(days=+7)

In [56]:
df_1.head()

,timekey,new_sku_three_month_flag_N,new_sku_three_month_flag_Y,locationkey_11,locationkey_3,locationkey_7,total_sales_units
0,2018-01-14,1,0,0,0,1,12
1,2018-01-14,1,0,0,1,0,11
2,2018-01-14,1,0,1,0,0,7
3,2018-01-21,0,1,0,0,1,2
4,2018-01-21,0,1,0,1,0,6

In [57]:
df.head()

,timekey,new_sku_three_month_flag_N,new_sku_three_month_flag_Y,locationkey_11,locationkey_3,locationkey_7,total_sales_units
0,2018-01-07,1,0,0,0,1,12
1,2018-01-07,1,0,0,1,0,11
2,2018-01-07,1,0,1,0,0,7
3,2018-01-14,0,1,0,0,1,2
4,2018-01-14,0,1,0,1,0,6

In [58]:
df_1=pd.merge(df,df_1,how="left",on=['timekey','new_sku_three_month_flag_N','new_sku_three_month_flag_Y','locationkey_11','locationkey_3','locationkey_7'])

In [59]:
df_1.rename(columns = {'total_sales_units_y':'total_sales_units_lag_1week','total_sales_units_x':'total_sales_units'}, inplace = True)

In [60]:
df_2=df.copy()
df_2.timekey=df.timekey+timedelta(days=+14)
df_2=pd.merge(df_1,df_2,how="left",on=['timekey','new_sku_three_month_flag_N','new_sku_three_month_flag_Y','locationkey_11','locationkey_3','locationkey_7'])
df_2.rename(columns = {'total_sales_units_y':'total_sales_units_lag_2week','total_sales_units_x':'total_sales_units'}, inplace = True)

In [61]:
df_3=df.copy()
df_3.timekey=df.timekey+timedelta(days=+21)
df_3=pd.merge(df_2,df_3,how="left",on=['timekey','new_sku_three_month_flag_N','new_sku_three_month_flag_Y','locationkey_11','locationkey_3','locationkey_7'])
df_3.rename(columns = {'total_sales_units_y':'total_sales_units_lag_3week','total_sales_units_x':'total_sales_units'}, inplace = True)

In [62]:
df_4=df.copy()
df_4.timekey=df.timekey+timedelta(days=+28)
df_4=pd.merge(df_3,df_4,how="left",on=['timekey','new_sku_three_month_flag_N','new_sku_three_month_flag_Y','locationkey_11','locationkey_3','locationkey_7'])
df_4.rename(columns = {'total_sales_units_y':'total_sales_units_lag_4week','total_sales_units_x':'total_sales_units'}, inplace = True)

In [63]:
df_5=df.copy()
df_5.timekey=df.timekey+timedelta(days=+35)
df_5=pd.merge(df_4,df_5,how="left",on=['timekey','new_sku_three_month_flag_N','new_sku_three_month_flag_Y','locationkey_11','locationkey_3','locationkey_7'])
df_5.rename(columns = {'total_sales_units_y':'total_sales_units_lag_5week','total_sales_units_x':'total_sales_units'}, inplace = True)

In [64]:
df_5.head()

,timekey,new_sku_three_month_flag_N,new_sku_three_month_flag_Y,locationkey_11,locationkey_3,locationkey_7,total_sales_units,total_sales_units_lag_1week,total_sales_units_lag_2week,total_sales_units_lag_3week,total_sales_units_lag_4week,total_sales_units_lag_5week
0,2018-01-07,1,0,0,0,1,12,NaN,NaN,NaN,NaN,NaN
1,2018-01-07,1,0,0,1,0,11,NaN,NaN,NaN,NaN,NaN
2,2018-01-07,1,0,1,0,0,7,NaN,NaN,NaN,NaN,NaN
3,2018-01-14,0,1,0,0,1,2,NaN,NaN,NaN,NaN,NaN
4,2018-01-14,0,1,0,1,0,6,NaN,NaN,NaN,NaN,NaN

In [65]:
final_df=df_5.copy()

In [66]:
final_df

,timekey,new_sku_three_month_flag_N,new_sku_three_month_flag_Y,locationkey_11,locationkey_3,locationkey_7,total_sales_units,total_sales_units_lag_1week,total_sales_units_lag_2week,total_sales_units_lag_3week,total_sales_units_lag_4week,total_sales_units_lag_5week
0,2018-01-07,1,0,0,0,1,12,NaN,NaN,NaN,NaN,NaN
1,2018-01-07,1,0,0,1,0,11,NaN,NaN,NaN,NaN,NaN
2,2018-01-07,1,0,1,0,0,7,NaN,NaN,NaN,NaN,NaN
3,2018-01-14,0,1,0,0,1,2,NaN,NaN,NaN,NaN,NaN
4,2018-01-14,0,1,0,1,0,6,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
375,2019-12-22,1,0,0,1,0,15,20.0,16.0,25.0,17.0,17.0
376,2019-12-22,1,0,1,0,0,21,13.0,21.0,12.0,21.0,11.0
377,2019-12-29,1,0,0,0,1,21,21.0,20.0,23.0,23.0,19.0
378,2019-12-29,1,0,0,1,0,18,15.0,20.0,16.0,25.0,17.0
379,2019-12-29,1,0,1,0,0,17,21.0,13.0,21.0,12.0,21.0

In [81]:
final_df=final_df.dropna()
X=final_df.drop(['timekey','total_sales_units'],axis=1)
y=final_df['total_sales_units']

In [82]:
X_train=X[:305]
X_test=X[305:]
y_train=y[:305]
y_test=y[305:]

In [83]:
from sklearn.ensemble import RandomForestRegressor

In [84]:
model=RandomForestRegressor()

In [85]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [87]:
model.score(X_train,y_train)

0.9441221460635092

In [88]:
y_pred=model.predict(X_test)

In [90]:
from sklearn.metrics import mean_squared_error

In [91]:
mean_squared_error(y_test,y_pred)

11.690979398148148

In [92]:
import math

In [93]:
math.sqrt(mean_squared_error(y_test,y_pred))

3.419207422510098